@charset "utf-8";

html,
body{ width:100%; height:100%; min-width:900px; -webkit-text-size-adjust:none;}
html{ font-size:1em; overflow-x:hidden;}
body{ font-size:0.813em;font-family: 'NanumSquare', sans-serif; color:#333333; line-height:1.5; letter-spacing:-1px;}
label{ cursor:pointer;}
code{ display:block;}

a:link, a:visited{ color:#333333; text-decoration:none;}
a:hover, a:focus, a:active{ text-decoration:underline;}

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav, menu,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, td,video, tt,
u, ul,
var{ margin:0; padding:0;}

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea{ font-size:1em;}
input, button, select, textarea{ margin:0; padding:0; }
em, cite, address, optgroup{ font-style:normal;}
kbd, samp, code{ font-family:monospace;}

img, input, button, select, textarea{ vertical-align:middle;}
img {-ms-interpolation-mode:bicubic !important;}
ul, ol{ list-style:none;}
img, fieldset{ border:0;}
abbr, acronym{ border-bottom:1px dotted black; cursor:help;}
table{ width:100%; border-collapse:collapse; border-spacing:0;}

ins{ text-decoration:none; }
del{ text-decoration:line-through; }

legend, hr{ overflow:hidden; position:absolute; left:0; top:0;}
legend, hr, caption{ visibility:hidden; width:0; height:0; font-size:0; line-height:0;}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block;}
mark, rp, rt, ruby, summary, time{ display:inline;}

/** Component: Button -------------------------------------------------- */
.c-button { -webkit-appearance: none; position: relative; vertical-align: middle; overflow: visible; background: transparent; border: 0; user-select: none; transition: all 0.2s ease; }
.c-button:hover, .c-button:focus { outline: 0; text-decoration: none; }
.c-button:not(:disabled) { cursor: pointer; }

/** Mixin: Button Modifier -------------------------------------------------- */
.ace .content .btn-area button.c-button--gray { background: #7b7b7b; }
.ace .content .btn-area button.c-button--gray:hover { background: #6e6e6e; }
.ace .content .btn-area button.c-button--red { background: #ea1a35; }
.ace .content .btn-area button.c-button--red:hover { background: #d7142d; }
.ace .content .btn-area button.c-button--disable { background: #cdcdcd; font-size:15px;}

/** Utility: Ripple -------------------------------------------------- */
.c-ripple {position: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;background: transparent;}
.c-ripple__circle { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; width: 0; height: 0; border-radius: 50%; background: rgba(255, 255, 255, 0.25); }
.c-ripple.is-active .c-ripple__circle { animation: a-ripple .4s ease-in; }

/** Animation: Ripple -------------------------------------------------- */
@keyframes a-ripple { 0% { opacity: 0; }
	25% { opacity: 1; }
	100% { width: 200%; padding-bottom: 200%; opacity: 0; } 
}

/* fake form - placeholder */
.placeholder {color: #bbb;}

/* fake form - radio */
.radio {width: 24px; height: 24px; vertical-align: -5px; margin-right: 3px; background: url("../images/radios.png") no-repeat; display: inline-block;}
.radio.focus {background-position: 0 -24px;}
.radio.checked {background-position: 0 -48px;}

/* fake form - checkbox */
.checkbox {width: 22px; height: 22px; vertical-align: -4px; margin-right: 3px; background: url("../images/checks.png") no-repeat; display: inline-block;}
.checkbox.focus {background-position: 0 -22px;}
.checkbox.checked {background-position: 0 -44px;}

/* fake form - select */
.select-title {color: #777; text-align: left; vertical-align: middle; padding: 4px 15px 4px 5px; border: 1px solid #999; background: #fff url('http://psyonline.github.io/jquery-fakeform/selectarrow.png') no-repeat 100% 0; display: inline-block; -box-sizing: border-box;}
.select-title strong {width: 100%; height: 1em; font-weight: normal; font-size: 11px; word-break: break-all; line-height: 1.2em; padding: 1px 0 2px; display: block; overflow: hidden;}
.select-title.focus,
.select-title.active {color: #000; border-color: #333;}
.select-title.focus {background-position: 100% -22px;}
.select-title.active {background-position: 100% -44px;}
.select-title.disabled {color: #999; text-shadow: 1px 1px 0 #fff; border-color: #bbb; background-color: #eee;}
.select-option {border: 1px solid #333; background: #fff; overflow: auto;}
.select-option ul {margin: 0; padding: 0;}
.select-option li {list-style: none;}
.select-option span,
.select-option strong {height: 1.1em; font-size: 11px; font-weight: normal; color: #777; white-space: nowrap; text-overflow: ellipsis; line-height: 1.4; text-decoration: none; padding: 4px 5px 7px; display: block; overflow: hidden; cursor: default;}
.select-option strong {font-weight: bold; color: #000; border-top: 1px solid #eee; border-bottom: 1px solid #ccc;}
.select-option li li span {padding-left: 10px;}
.select-option span:hover,
.select-option span.selected {color: #000; background: #eee;}
.select-option .disabled span,
.select-option .disabled strong {color: #bbb; text-decoration: line-through; background: none;}

.ace {padding-bottom:39px;}
.ace .hide {display:none !important;}
.ace .inner {}
.ace header {position:relative;height:110px;border-bottom:1px solid #332e2e;}
.ace header .inner {position:relative;width:900px;margin:0 auto;}
.ace header h1 {position:absolute;top:38px;left:0;}
.ace header p {position:absolute;top:43px;right:0;font-size:25px;color:#303030;line-height:25px;}

.ace .content {position:relative;padding:0 0 40px 50%;background:#fff;}
.ace .content:after {content:"";display:block;position:absolute;top:0;left: 0;bottom:0;right: 50%;margin-right: 200px;background:#f8f8f8;z-index:1;}
.ace .content .step {position:absolute;top:0;left:50%;bottom:0;width:250px;margin-left:-450px;background:#f8f8f8;border-right:1px solid #e3e3e3;z-index:20;}
.ace .content .step ol {padding-top:10px;}
.ace .content .step ol li {margin-top:11px;font-size:23px;color:#332e2e;opacity:.25;}
.ace .content .step ol li.active {opacity:1;}
.ace .content .step ol li strong {display:none;}

.ace .content .title {position:relative;margin-left:-200px;height:75px;background:#332e2e;font-size:20px;color:#fff;z-index:10;}
.ace .content .title strong {display:block;float:left;width:30px;height:30px;margin:24px 0 0 30px;background:#fff;border-radius:30px;color:#303030;text-align:center;line-height:30px;}
.ace .content .title span {display:block;float:left;margin:24px 0 0 20px;line-height:30px;}

.ace .content .caution {position:relative;margin-left:-200px;padding:7px 0 15px 0;font-size:15px;line-height:23px;color:#7b7b7b;box-sizing:border-box;background:#fff;z-index:10;}
.ace .content .caution p {position:relative;padding:11px 0 0 61px;}
.ace .content .caution p:after {content:"";display:block;position:absolute;top:14px;left:30px;width:18px;height:18px;background:url("../images/ico.png") no-repeat 0 0;}
.ace .content .caution p strong {position:absolute;left:470px;font-weight:normal;color:#332e2e;}
.ace .content .caution p strong span {padding:0 3px 0 5px;color:#d2d2d2;}

.ace .content .confirm-type {position:relative;height:540px;margin-left:-200px;padding:74px 0;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;background:#f8f8f8;text-align:center;box-sizing:border-box;font-size:30px;color:#303030;z-index:10;}
.ace .content .confirm-type .pic {height:300px;line-height:300px;}
.ace .content .confirm-type p {padding:9px;line-height:1.5;}
.ace .content .confirm-type .ipin {float:left;width:300px;height:300px;margin-left:49px;border-right:1px solid #e3e3e3;box-sizing:border-box;}
.ace .content .confirm-type .phone {float:left;width:300px;height:300px;box-sizing:border-box;}

.ace .content .info {position:relative;margin-left:-200px;z-index:10;}
.ace .content .info .stitle {position:relative;height:80px;background:#f8f8f8;border-bottom:1px solid #dadada;line-height:79px;font-size:23px;color:#303030;box-sizing:border-box;}
.ace .content .info .stitle .inner {padding:0 30px;}
.ace .content .info .stitle .essential {position:absolute;top:0;left:566px;font-size:15px;color:#7b7b7b;}
.ace .content .info .stitle .essential span {display:block;position:absolute;top:28px;left:-15px;width:6px;height:6px;border-radius:6px;background:#ea1a35;font-size:0;}
.ace .content .info ul li {position:relative;min-height:59px;border-top:1px solid #fff;background:#fff;border-bottom:1px solid #dadada;line-height:58px;box-sizing:border-box;overflow:hidden;}
.ace .content .info ul li:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}
.ace .content .info ul li .ti {position:relative;float:left;width:215px;padding-left:30px;font-size:20px;color:#888;box-sizing:border-box;z-index:10;}
.ace .content .info ul li .ti span {display:inline-block;position:relative;top:12px;left:5px;width:6px;height:6px;border-radius:6px;background:#ea1a35;font-size:0;}
.ace .content .info ul li .txt {position:relative;float:left;width:455px;padding:0 30px;font-size:20px;color:#303030;box-sizing:border-box;z-index:10;}
.ace .content .info ul li .txt .essential {position:absolute;top:0;left:371px;width:100px;font-size:15px;color:#7b7b7b;}
.ace .content .info ul li .txt label {margin-right:20px;}
.ace .content .info ul li.address .txt {padding:16px 30px;line-height:30px;}
.ace .content .info ul li.address .txt span {display:block;color:#b4b4b4;font-weight:bold;}
.ace .content .info ul li.address .txt p {font-size:17px;line-height:25px;}
.ace .content .info ul li .btn-post {display:inline-block;position:relative;width:190px;height:40px;background:#ea1a35;border-radius:20px;padding-left:75px;color:#fff;font-size:20px;box-sizing:border-box;line-height:40px;}
.ace .content .info ul li .btn-post:before {content:"";display:block;position:absolute;top:8px;left:40px;width:24px;height:24px;background:url("../images/ico.png") no-repeat -18px 0;}
.ace .content .info ul li .input-red {position:absolute;top:0;left: 0;bottom:0;right:0;border:0;height:58px;line-height:58px;width:100%;box-sizing:border-box;padding:0 30px;}
.ace .content .info ul li .input-red::-webkit-input-placeholder {color:#ea1a35;font-size:15px;}
.ace .content .info ul li .input-red::-moz-placeholder {color:#ea1a35;font-size:15px;}
.ace .content .info ul li .input-red:-ms-input-placeholder {color:#ea1a35;font-size:15px;}
.ace .content .info ul li .input-red:-moz-placeholder {color:#ea1a35;font-size:15px;}

.ace .content .btn-area {position:relative;margin-left:-200px;background:#fff;padding:30px 0 8px 29px;z-index:10;}
.ace .content .btn-area button {display:inline-block;width:200px;height:60px;line-height:60px;margin:0 2px;border:0;text-align:center;font-size:20px;color:#fff;}
.ace .content .btn-area button.btn-home {width:405px;}

.ace .content .result {position:relative;margin-left:-200px;height:420px;background:#fff;overflow:hidden;border-top:1px solid #e3e3e3;z-index:10;}
.ace .content .result .bg {position:absolute;top:31px;left:60px;}
.ace .content .result .bg:after {content:"";display:block;width:90px;height:205px;margin-left:-22.5px;background:url("../images/screw.png") no-repeat 0 0;}
.ace .content .result .txt {padding:92px 0 0 156px;font-size:22px;line-height:33px;color:#939191;}
.ace .content .result .txt span {display:block;}
.ace .content .result strong {display:block;position:relative;padding:103px 0 0 52px;font-size:35px;color:#000;z-index:20;line-height:48px;font-weight:normal;}

.ace .content .banner {position:relative;margin-left:-200px;height:447px;font-size:15px;line-height:20px;color:#252525;background:#ebecea;letter-spacing:0;z-index:10;}
.ace .content .banner .inner {padding:165px 0 0 50px;}
.ace .content .banner .inner span {display:block;margin-bottom:25px;font-size:20px;color:#7f7f7f;line-height:20px;letter-spacing:-1px;}
.ace .content .banner .inner strong {display:block;margin-bottom:39px;font-weight:normal;font-size:40px;color:#e01733;line-height:40px;letter-spacing:-1px;}
.ace .content .banner .swiper-pagination {position:absolute;top:80px;left:50px;width:221px;height:15px;color:#e01733;font-size:40px;text-align:center;}
.ace .content .banner .swiper-pagination .swiper-pagination-total {color:#c5c5c3;}
.ace .content .banner .swiper-button-next, .ace .content .banner .swiper-container-rtl .swiper-button-prev {top:90px;left:247px;width:24px;height:45px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ea1a35'%2F%3E%3C%2Fsvg%3E");background-size:24px 45px;}
.ace .content .banner .swiper-button-prev, .ace .content .banner .swiper-container-rtl .swiper-button-next {top:90px;left:50px;width:24px;height:45px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ea1a35'%2F%3E%3C%2Fsvg%3E");background-size:24px 45px;}

.ace .content footer {position:fixed;left:0;right:0;bottom:0;height:39px;border-top:1px solid #e3e3e3;box-sizing:border-box;background:#f8f8f8;font-size:12px;color:#332e2e;text-align:center;line-height:39px;z-index:30;letter-spacing:0;}
.ace .content footer:after {
	content:"";display:block;position:absolute;left:0;right:0;top:-21px;height:21px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,0e0e0e+100&0+0,0.1+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(14,14,14,0.1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(14,14,14,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(14,14,14,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a0e0e0e',GradientType=0 ); /* IE6-9 */
}